**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.mdf
**/*.log
**/bin
**/obj
**/out
.env
Dockerfile
docker-compose.yml
